.App {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgb(27, 25, 25);
  background: radial-gradient(
    circle,
    rgba(27, 25, 25, 0.7234244039412641) 9%,
    rgba(2, 5, 13, 0.9948354341736695) 63%
  );
}
.Main {
  border-radius: 9px;
  margin-top: 15px;
  border: 1px solid rgba(54, 27, 27, 0.233);
  background-color: #fffffebb;
  width: 65vw;
  min-height: 100vh;
}
